# Игнорировать все .log файлы
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать временные файлы редакторов
*.swp
*.tmp

# Игнорировать сборку
build/

# Игнорировать конфигурации IDE
.vscode/
.idea/